.service{
    color: black;
    background-color: white;
    margin-top: 10px;
    padding-top: 10px;
    text-align: justify;
    border-radius: 20px;
    animation-delay: 500ms;
}

.service img{
    border-radius: 20px;
    padding: 10px;
}

.service:hover{
    background-color: honeydew;
}

.service:hover img{
    transform: scale(1.2);
    overflow: hidden;
    transition: transform 2s ease-in-out 0.6s;
    display: block;
}
 