.booking{
    display: flex;
    justify-content: center;
    color: black;
    background-color: white;
    margin-top: 80px !important;
    padding-top: 10px !important;
    text-align: justify;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.booking img{
    border-radius: 20px;
    padding: 10px;
}


.bottom{
    padding-bottom: 10px;
}
