.blog{
    color: black;
    background-color: white; 
    text-align: justify;
    margin-top: 30px;
    padding-top: 30px;
}

.blog img{
    width: 1120px;
    height: 500px;
}


.blog-list {
    padding-top: 40px !important
}


@media only screen and (max-width: 688px){
    .blog img{
        height: 130px;
        width: 300px;
    }
}

@media only screen and (min-width: 689px) and (max-width: 991px){
    .blog img{
        height: 130px;
        width: 300px;
    }
}