.banner-container{
    display: grid;
    grid-template-columns: 1fr;
}

.banner-list {
    margin-top: 40px !important;
    padding-top: 40px !important
}

@media only screen and (max-width: 688px){
    .banner-container{
        padding-top: 20px;
        margin-top: 20px;
        grid-template-columns: 1fr;
    }
}
